.particles {
    position: relative;
}

#particles-js {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    pointer-events: none;
}

.game h1 {
    font-size: var(--h3);
    text-align: center;
}

.game__board {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--space-3);
    margin-top: var(--space-5);
}

.tile {
    perspective: 1000px;
    cursor: pointer;
}

.tile__inner {
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.tile.flipped .tile__inner {
    transform: rotateY(180deg);
}

.tile__front {
    display: flex;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tile__back {
    display: flex;
    width: 100%;
    height: 100%;
}

.tile__back img,
.tile__front img {
    width: 9.375rem;
}

.victory-message {
    position: fixed;
    bottom: -100%;
    max-width: var(--max-width-3);
    right: 50%;
    transform: translate(50%, 50%);
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
    padding: var(--space-3);
    font-size: var(--h4);
    color: var(--bg);
    line-height: 1.1;
    text-align: center;
    background-color: var(--text90);
    border-radius: var(--space-2);
    box-shadow: var(--box-shadow);
    transition: bottom 0.3s;
}

.victory-message.visible {
    bottom: 50%;
}

.victory-message.hidden {
    bottom: -100%;
}

.victory-message .button {
    justify-content: center;
}
