/* ============================= */
/* =========== FONTS =========== */
/* ============================= */
@font-face {
    font-family: 'Geomanist';
    src: local('Geomanist Bold'), local('Geomanist-Bold'),
        url('./../assets/fonts/geomanist/geomanist-bold.woff2') format('woff2'),
        url('./../assets/fonts/geomanist/geomanist-bold.woff') format('woff');
    font-weight: 600;
}

@font-face {
    font-family: 'Geomanist';
    src: local('Geomanist Regular'), local('Geomanist-Regular'),
        url('./../assets/fonts/geomanist/geomanist-regular.woff2')
            format('woff2'),
        url('./../assets/fonts/geomanist/geomanist-regular.woff') format('woff');
    font-weight: 400;
}

/* ===================================== */
/* =========== VARIABLES CSS =========== */
/* ===================================== */
:root {
    /* ===== Width =====*/
    --container-width: 1366px;

    /* ===== Fonts =====*/
    --heading-font: 'Geomanist', sans-serif;
    --body-font: 'Geomanist', sans-serif;

    /* ==================== FONT SIZE ==================== */
    /* =================================================== */
    /* ========= RATIO MIN = MINOR THIRD (1.2)  ========== */
    /* ====== RATIO MAX = AUGMENTED FOURTH (1.414) ======= */
    /* =================================================== */
    --h1: clamp(2.98rem, -0.606rem + 9.562vw, 8rem);
    --h2: clamp(2.5rem, 0.246rem + 6.011vw, 5.656rem);
    --h3: clamp(2.1rem, 0.743rem + 3.619vw, 4rem);
    --h4: clamp(1.728rem, 0.942rem + 2.095vw, 2.828rem);
    --h5: clamp(1.44rem, 1.04rem + 1.067vw, 2rem);
    --h6: clamp(1.2rem, 1.047rem + 0.408vw, 1.414rem);
    --body-fs: clamp(1.063rem, 1.018rem + 0.119vw, 1.125rem);

    /* ===== Small Text ====== */
    --text-small: 0.833rem;
    --text-xsmall: 0.7rem;

    /* ===== Font weight ===== */
    --bold: 600;
    --regular: 400;

    /* ===== Line height ===== */
    --line-height-heading: 1.1;
    --line-height-base: 1.7;

    /* ==================== SPACING ===================== */
    /* ================================================== */
    /* ======= RATIO MIN = PERFECT FOURTH (1.333) ======= */
    /* ======== RATIO MAX = GOLDEN RATIO (1.618) ======== */
    /* ================================================== */
    --space-1: clamp(0.375rem, 0.286rem + 0.238vw, 0.5rem);
    --space-2: clamp(0.667rem, 0.566rem + 0.27vw, 0.809rem);
    --space-3: clamp(0.889rem, 0.589rem + 0.8vw, 1.309rem);
    --space-4: clamp(1.185rem, 0.519rem + 1.777vw, 2.118rem);
    --space-5: clamp(1.58rem, 0.262rem + 3.514vw, 3.425rem);
    --space-6: clamp(2.107rem, -0.347rem + 6.545vw, 5.543rem);
    --space-7: clamp(2.809rem, -1.59rem + 11.731vw, 8.968rem);
    --space-8: clamp(3.745rem, -3.945rem + 20.507vw, 14.511rem);
    --space-9: clamp(4.993rem, -8.211rem + 35.211vw, 23.479rem);
    --space-10: clamp(6.657rem, -15.724rem + 59.682vw, 37.99rem);

    /* ===== Border Radius ===== */
    --border-radius-1: 0.25rem;
    --border-radius-2: 0.5rem;
    --border-radius-3: 0.75rem;
    --border-radius-4: 1rem;
    --border-radius-5: 1.5rem;
    --border-radius-6: 2rem;
    --border-radius-7: 3rem;
    --border-radius-8: 6rem;
    --border-radius-circle: 50%;

    /* ===== Box Shadow ===== */
    --box-shadow: 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        100px 100px 80px rgba(0, 0, 0, 0.07);

    /* ===== Max Width ===== */
    --max-width-1: 20rem;
    --max-width-2: 30rem;
    --max-width-3: 40rem;
    --max-width-4: 48rem;
}

/* ========================================== */
/* =========== LIGHT THEME COLORS =========== */
/* ========================================== */
:root[data-theme='light'] {
    --text: #120d21;
    --bg: #efecf9;
    --primary: #302065;
    --secondary: #8e77da;
    --accent: #5431c9;
    --textcontrast: #64d97b;
    --bgcontrast: #64d97b;
    --primarycontrast: #64d97b;
    --secondarycontrast: #ffdd00;
    --accentcontrast: #ffdd00;
    --error: #e13b33;
    --text5: hsl(255, 43%, 9%, 5%);
    --text10: hsl(255, 43%, 9%, 10%);
    --text15: hsl(255, 43%, 9%, 15%);
    --text20: hsl(255, 43%, 9%, 20%);
    --text25: hsl(255, 43%, 9%, 25%);
    --text30: hsl(255, 43%, 9%, 30%);
    --text35: hsl(255, 43%, 9%, 35%);
    --text40: hsl(255, 43%, 9%, 40%);
    --text45: hsl(255, 43%, 9%, 45%);
    --text50: hsl(255, 43%, 9%, 50%);
    --text55: hsl(255, 43%, 9%, 55%);
    --text60: hsl(255, 43%, 9%, 60%);
    --text65: hsl(255, 43%, 9%, 65%);
    --text70: hsl(255, 43%, 9%, 70%);
    --text75: hsl(255, 43%, 9%, 75%);
    --text80: hsl(255, 43%, 9%, 80%);
    --text85: hsl(255, 43%, 9%, 85%);
    --text90: hsl(255, 43%, 9%, 90%);
    --text95: hsl(255, 43%, 9%, 95%);
    --primary5: hsl(254, 52%, 26%, 5%);
    --primary10: hsl(254, 52%, 26%, 10%);
    --primary15: hsl(254, 52%, 26%, 15%);
    --primary20: hsl(254, 52%, 26%, 20%);
    --primary25: hsl(254, 52%, 26%, 25%);
    --primary30: hsl(254, 52%, 26%, 30%);
    --primary35: hsl(254, 52%, 26%, 35%);
    --primary40: hsl(254, 52%, 26%, 40%);
    --primary45: hsl(254, 52%, 26%, 45%);
    --primary50: hsl(254, 52%, 26%, 50%);
    --primary55: hsl(254, 52%, 26%, 55%);
    --primary60: hsl(254, 52%, 26%, 60%);
    --primary65: hsl(254, 52%, 26%, 65%);
    --primary70: hsl(254, 52%, 26%, 70%);
    --primary75: hsl(254, 52%, 26%, 75%);
    --primary80: hsl(254, 52%, 26%, 80%);
    --primary85: hsl(254, 52%, 26%, 85%);
    --primary90: hsl(254, 52%, 26%, 90%);
    --primary95: hsl(254, 52%, 26%, 95%);
    --secondary5: hsl(254, 57%, 66%, 5%);
    --secondary10: hsl(254, 57%, 66%, 10%);
    --secondary15: hsl(254, 57%, 66%, 15%);
    --secondary20: hsl(254, 57%, 66%, 20%);
    --secondary25: hsl(254, 57%, 66%, 25%);
    --secondary30: hsl(254, 57%, 66%, 30%);
    --secondary35: hsl(254, 57%, 66%, 35%);
    --secondary40: hsl(254, 57%, 66%, 40%);
    --secondary45: hsl(254, 57%, 66%, 45%);
    --secondary50: hsl(254, 57%, 66%, 50%);
    --secondary55: hsl(254, 57%, 66%, 55%);
    --secondary60: hsl(254, 57%, 66%, 60%);
    --secondary65: hsl(254, 57%, 66%, 65%);
    --secondary70: hsl(254, 57%, 66%, 70%);
    --secondary75: hsl(254, 57%, 66%, 75%);
    --secondary80: hsl(254, 57%, 66%, 80%);
    --secondary85: hsl(254, 57%, 66%, 85%);
    --secondary90: hsl(254, 57%, 66%, 90%);
    --secondary95: hsl(254, 57%, 66%, 95%);
    --accent5: hsl(254, 61%, 49%, 5%);
    --accent10: hsl(254, 61%, 49%, 10%);
    --accent15: hsl(254, 61%, 49%, 15%);
    --accent20: hsl(254, 61%, 49%, 20%);
    --accent25: hsl(254, 61%, 49%, 25%);
    --accent30: hsl(254, 61%, 49%, 30%);
    --accent35: hsl(254, 61%, 49%, 35%);
    --accent40: hsl(254, 61%, 49%, 40%);
    --accent45: hsl(254, 61%, 49%, 45%);
    --accent50: hsl(254, 61%, 49%, 50%);
    --accent55: hsl(254, 61%, 49%, 55%);
    --accent60: hsl(254, 61%, 49%, 60%);
    --accent65: hsl(254, 61%, 49%, 65%);
    --accent70: hsl(254, 61%, 49%, 70%);
    --accent75: hsl(254, 61%, 49%, 75%);
    --accent80: hsl(254, 61%, 49%, 80%);
    --accent85: hsl(254, 61%, 49%, 85%);
    --accent90: hsl(254, 61%, 49%, 90%);
    --accent95: hsl(254, 61%, 49%, 95%);
}

/* ========================================= */
/* =========== DARK THEME COLORS =========== */
/* ========================================= */
:root[data-theme='dark'] {
    --text: #e3def2;
    --bg: #090613;
    --primary: #aa9adf;
    --secondary: #3c2588;
    --accent: #5936ce;
    --textcontrast: #64d97b;
    --bgcontrast: #64d97b;
    --primarycontrast: #64d97b;
    --secondarycontrast: #ffdd00;
    --accentcontrast: #ffdd00;
    --error: #cc271e;
    --text5: hsl(255, 43%, 91%, 5%);
    --text10: hsl(255, 43%, 91%, 10%);
    --text15: hsl(255, 43%, 91%, 15%);
    --text20: hsl(255, 43%, 91%, 20%);
    --text25: hsl(255, 43%, 91%, 25%);
    --text30: hsl(255, 43%, 91%, 30%);
    --text35: hsl(255, 43%, 91%, 35%);
    --text40: hsl(255, 43%, 91%, 40%);
    --text45: hsl(255, 43%, 91%, 45%);
    --text50: hsl(255, 43%, 91%, 50%);
    --text55: hsl(255, 43%, 91%, 55%);
    --text60: hsl(255, 43%, 91%, 60%);
    --text65: hsl(255, 43%, 91%, 65%);
    --text70: hsl(255, 43%, 91%, 70%);
    --text75: hsl(255, 43%, 91%, 75%);
    --text80: hsl(255, 43%, 91%, 80%);
    --text85: hsl(255, 43%, 91%, 85%);
    --text90: hsl(255, 43%, 91%, 90%);
    --text95: hsl(255, 43%, 91%, 95%);
    --primary5: hsl(254, 52%, 74%, 5%);
    --primary10: hsl(254, 52%, 74%, 10%);
    --primary15: hsl(254, 52%, 74%, 15%);
    --primary20: hsl(254, 52%, 74%, 20%);
    --primary25: hsl(254, 52%, 74%, 25%);
    --primary30: hsl(254, 52%, 74%, 30%);
    --primary35: hsl(254, 52%, 74%, 35%);
    --primary40: hsl(254, 52%, 74%, 40%);
    --primary45: hsl(254, 52%, 74%, 45%);
    --primary50: hsl(254, 52%, 74%, 50%);
    --primary55: hsl(254, 52%, 74%, 55%);
    --primary60: hsl(254, 52%, 74%, 60%);
    --primary65: hsl(254, 52%, 74%, 65%);
    --primary70: hsl(254, 52%, 74%, 70%);
    --primary75: hsl(254, 52%, 74%, 75%);
    --primary80: hsl(254, 52%, 74%, 80%);
    --primary85: hsl(254, 52%, 74%, 85%);
    --primary90: hsl(254, 52%, 74%, 90%);
    --primary95: hsl(254, 52%, 74%, 95%);
    --secondary5: hsl(254, 57%, 34%, 5%);
    --secondary10: hsl(254, 57%, 34%, 10%);
    --secondary15: hsl(254, 57%, 34%, 15%);
    --secondary20: hsl(254, 57%, 34%, 20%);
    --secondary25: hsl(254, 57%, 34%, 25%);
    --secondary30: hsl(254, 57%, 34%, 30%);
    --secondary35: hsl(254, 57%, 34%, 35%);
    --secondary40: hsl(254, 57%, 34%, 40%);
    --secondary45: hsl(254, 57%, 34%, 45%);
    --secondary50: hsl(254, 57%, 34%, 50%);
    --secondary55: hsl(254, 57%, 34%, 55%);
    --secondary60: hsl(254, 57%, 34%, 60%);
    --secondary65: hsl(254, 57%, 34%, 65%);
    --secondary70: hsl(254, 57%, 34%, 70%);
    --secondary75: hsl(254, 57%, 34%, 75%);
    --secondary80: hsl(254, 57%, 34%, 80%);
    --secondary85: hsl(254, 57%, 34%, 85%);
    --secondary90: hsl(254, 57%, 34%, 90%);
    --secondary95: hsl(254, 57%, 34%, 95%);
    --accent5: hsl(254, 61%, 51%, 5%);
    --accent10: hsl(254, 61%, 51%, 10%);
    --accent15: hsl(254, 61%, 51%, 15%);
    --accent20: hsl(254, 61%, 51%, 20%);
    --accent25: hsl(254, 61%, 51%, 25%);
    --accent30: hsl(254, 61%, 51%, 30%);
    --accent35: hsl(254, 61%, 51%, 35%);
    --accent40: hsl(254, 61%, 51%, 40%);
    --accent45: hsl(254, 61%, 51%, 45%);
    --accent50: hsl(254, 61%, 51%, 50%);
    --accent55: hsl(254, 61%, 51%, 55%);
    --accent60: hsl(254, 61%, 51%, 60%);
    --accent65: hsl(254, 61%, 51%, 65%);
    --accent70: hsl(254, 61%, 51%, 70%);
    --accent75: hsl(254, 61%, 51%, 75%);
    --accent80: hsl(254, 61%, 51%, 80%);
    --accent85: hsl(254, 61%, 51%, 85%);
    --accent90: hsl(254, 61%, 51%, 90%);
    --accent95: hsl(254, 61%, 51%, 95%);
}

/* ==================================== */
/* =============== BASE =============== */
/* ==================================== */

body {
    background-color: var(--bg);
    color: var(--text);
    font-size: var(--body-fs);
    font-family: var(--body-font);
    line-height: var(--line-height-base);
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    transition: all 0.3s ease;
}

::selection {
    background-color: var(--primary);
    color: var(--accent);
}

::-webkit-selection {
    background-color: var(--primary);
    color: var(--accent);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    font-weight: var(--bold);
    line-height: var(--line-height-heading);
}

h1 {
    font-size: var(--h1);
}

h2 {
    font-size: var(--h2);
}

h3 {
    font-size: var(--h3);
}

h4 {
    font-size: var(--h4);
}

h5 {
    font-size: var(--h5);
}

h6 {
    font-size: var(--h6);
}

a {
    color: var(--primary);
    text-decoration: none;
    text-align: center;
}

/* ====================================== */
/* ======== REUSABLE CSS CLASSES ======== */
/* ====================================== */
.h1 {
    font-size: var(--h1);
}

.h2 {
    font-size: var(--h2);
}

.h3 {
    font-size: var(--h3);
}

.h4 {
    font-size: var(--h4);
}

.h5 {
    font-size: var(--h5);
}

.h6 {
    font-size: var(--h6);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(50%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: var(--container-width);
    padding-inline: var(--space-4);
    margin-inline: auto;
}

.section-content {
    margin-block: var(--space-7);
}

.grid {
    display: grid;
    gap: var(--space-4);
}

.button {
    display: inline-flex;
    padding: var(--space-2) var(--space-4);
    border: 0.125rem solid var(--primary50);
    border-radius: var(--border-radius-8);
    box-shadow: 0 0.625rem 1.25rem 0 rgba(0, 0, 0, 0.15);
    font-size: var(--h6);
    background: linear-gradient(45deg, var(--secondary), var(--accent));
    transition: 0.8s cubic-bezier(0.2, 1, 0.2, 1);
    cursor: pointer;
    font-family: inherit;
    font-weight: var(--bold);
    line-height: 1;
    color: var(--text);
}

.button--outline {
    background: transparent;
    border: 0.125rem solid var(--primary50);
}

.button--small {
    font-size: var(--body-fs);
}

.button:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0 0.938rem 1.875rem 0 rgba(0, 0, 0, 0.25);
}

.button:active {
    transform: scale(0.98);
}

.max-width-3 {
    max-width: var(--max-width-3);
}

.separator {
    display: block;
    border-bottom: 0.0625rem solid var(--text15);
}

.text-stroke {
    color: transparent;
    -webkit-text-stroke: 0.0625rem var(--primary);
}

.error {
    color: var(--error);
    margin-top: var(--space-4);
}
